/* This is the tiled background image for the site */
body {
  background: rgb(199,199,219);
background: linear-gradient(90deg, rgba(199,199,219,1) 0%, rgba(191,244,255,1) 50%, rgba(242,255,243,1) 100%);
}

.navbar {
  margin-bottom: 20px;
  background-color: #BCB4C4;
}

/* This changes the padding, margin, and color of the main content boxes within the site */
.content {
  padding: 1rem;
  margin: auto;
  background-color: white;
  align-content: center;
  border-radius: 25px;
}

.contentPortfolio {
  padding: 1rem;
  margin: 1rem;
  background-color: #BCB4C4;
  align-content: center;
  border-radius: 25px;
}

/* This changes the image padding and width of images on the site for contistancy */
.container img {
  display: block;
  padding: 1rem;
  width: 12rem;
  height: auto;
}

/* This changes the color and font-face of the headers used within the main content boxes */
h1 {
  color: #4aaaa5;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

/* This changes the color and text of the main navigation text header */
h2 {
  color: #BCB4C4;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Changes the font and color of the button on the contact page */
.btn {
  color: white;
  background-color: #45364B;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 1rem;
  transition: .5s ease;
}

/* Changes the color of the button on the Contact page when hovering over it */
.btn:hover {
  transition: .5s ease;
  background-color: teal;
  font-size: large;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/* This is the attributes for the footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #2D2327;
  border-top: #BCB4C4 solid;
  border-width: 5px;
  text-align: center;
  margin-top: 10px;
  color: #FFF;
}
